<!-- dictatorIntroduction.html -->


<div class="card bg-light m-3">
    <div class="card-body">

        <p>
            Ahora vas a tomar dos decisiones de cómo repartir dinero entre tú y miembros de
            un grupo. Estos grupos pueden ser parte de los grupos sobre los cuales hiciste
            las pruebas de asociación implícita (gordo o flaco, homosexual o heterosexual),
            o pueden ser parte de otros grupos.
        </p>

        <p>
            La tarea es muy sencilla. Tienes 100 pesos que te asignamos como parte del
            experimento. Tú tienes que decidir cómo dividir esos 100 pesos entre ti y
            una persona que es parte de un grupo. Lo que nos hayas dicho en la Etapa 5
            va a afectar si aprendes de qué grupo es miembro la persona con la que estás
            dividiendo los cien pesos. Pero recuerda que vamos a seguir tus instrucciones
            con 80% de probabilidad. Con 20% de probabilidad vamos a hacer lo contrario a
            lo que nos indicaste. Esto asegura que no vas a estar seguro de cómo te fue en
            tus pruebas de asociación implícita basado en la decisión que te aparezca.
        </p>

        <p>
            Para pagarte, vamos a escoger una de las decisiones que hiciste al azar e
            implementar tu decisión.
        </p>

    </div>
</div>
