<!-- dictatorIntroduction.html -->
<div class="card bg-light m-3">
  <div class="card-body">

    <p>
      Vas a dividir 100 pesos entre ti y miembros de Grupo&nbsp;A o de Grupo&nbsp;B.
      Uno de los grupos es un grupo de {{ group_a }} y el otro grupo es un grupo de {{ group_b }}.
    </p>

    {% if category == "Miembro del grupo" %}
      <p>En particular, vas a dividir 100 pesos entre ti y un miembro del Grupo&nbsp;A.</p>
    {% else %}
      <p>En particular, vas a dividir 100 pesos entre ti y un miembro del grupo {{ group_a }}.</p>
    {% endif %}

    <p>
      ¿Con cuántos de los 100 pesos quieres quedarte?
      {% if category == "Miembro del grupo" %}
        El resto se va a ir a un miembro del Grupo&nbsp;A.
      {% else %}
        El resto se va a ir a un grupo de {{ group_a }}
      {% endif %}
    </p>

    <p>
      Tienes <strong>{{ endowment }}</strong> pesos para dividir.
      Decide cuánto de esta cantidad retendrás para ti y cuánto asignarás a:
    </p>

    <ul>
  {% if category == "Miembro del grupo" %}
    <!-- ocultamos la descripción real y mostramos sólo “Grupo A” -->
    <li><strong>Grupo A</strong></li>
  {% else %}
    <!-- cuando no somos miembros, mostramos el nombre real -->
    <li><strong>{{ group_a }}</strong></li>
  {% endif %}
</ul>


  </div>
</div>
