{% block title %}Resultados de las decisiones monetarias que pueden afectar a grupos de la Etapa 2{% endblock %}

{% block content %}
  <h3>Resumen de Asignaciones</h3>
  <p>A continuación, tu resumen:</p>

 {% for offer in dictator_offers %}
  <h4>
    Ronda {{ offer.round }} – Categoría:
    {% if offer.category == "Miembro del grupo" %}
      Algún grupo de: ({{ offer.full_category }})
    {% else %}
      {% if offer.round == 15 %}
        personas delgadas
      {% elif offer.round == 16 %}
        personas heterosexuales
      {% else %}
        {{ offer.category }}
      {% endif %}
    {% endif %}
  </h4>

  <p><strong>Mantener para ti:</strong> {{ offer.kept }}</p>

  <p><strong>Asignación a
    {% if offer.category == "Miembro del grupo" %}
      Algún grupo de: {{ offer.full_category }}
    {% else %}
      {% if offer.round == 15 %}
        personas delgadas
      {% elif offer.round == 16 %}
        personas heterosexuales
      {% else %}
        {{ offer.category }}
      {% endif %}
    {% endif %}:
  </strong> {{ offer.assigned }}</p>
{% endfor %}

{% if prolific_url %}
  <p>Click <a href="{{ prolific_url }}">aquí</a> para completar el estudio en Prolific.</p>
{% else %}
  <p>Gracias por participar.</p>
{% endif %}

{% endblock %}


{# esto es para cuando se corre en prolific
{% if prolific_completion_url %}
  <p>
    Click <a href="{{ prolific_completion_url }}">here</a> to complete the study.
  </p>
{% else %}
  <p><em>No hay un completion URL configurado.</em></p>
{% endif %}
#}
